/* Mobile First */
.imageBackgroundArticle {
  position: relative;
  margin-top: 2vh;
  width: 100vw;
  height: 30vh;
  background-image: url("../../assets/Images/PageArticles/BackGroundHeroBanner.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBackgroundArticle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Conteneur */
.heroContentContainersArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.6vh;
}

/* Text */
.heroTextArticle {
  font-size: 1.2rem;
  margin-bottom: 2.6vh;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* ------ Mode Tablet ------*/

/* ------ Mode Bureau Desktop ------ */
@media screen and (min-width: 1024px) {
  .imageBackgroundArticle {
    margin-top: 2vh;
    width: 60%;
    height: 42vh;
    border-radius: 10px;
  }

  .heroContentContainersArticle {
    gap: 4vh;
  }

  .heroTextArticle {
    font-size: 2rem;
    margin-bottom: 0vh;
  }
}

/*  Mode bureau version vertical */
@media screen and (min-width: 1025px) and (orientation: portrait) {
}
