.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* JSXEditor.css */

.jsx-editor-container {
  display: flex;
}

.editor,
.preview {
  flex: 1;
  padding: 10px;
}

textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.preview-content {
  /* border: 1px solid #ccc; */
  padding: 10px;
}

.preview-content div {
  margin-bottom: 10px;
}

/* Styles pour simuler VS Code */
.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 20vh; */
}

.sidebar {
  width: 50%;
  /* background-color: #272822; */
  /* padding: 10px 0px; */
  color: white;
  border-radius: 5px;
}

.Bouton {
  /* background-color: #272822; */
  border-radius: 5px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  right: 1.2vh;
  top: 0.5vh;
}

.A,
.B {
  width: 10vh;
  display: flex;
  border: 2px solid #5555556b;
  border-bottom: 0px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #272822;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  gap: 1vh;
}

.A svg,
.B svg {
  position: relative;
  bottom: 2px;
}

.A:hover,
.B:hover {
  transform: translateY(-0.5vh);
  transition: 0.2s;
  border-radius: 0.5px;
}

.sidebar button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #272822;
}

/* .sidebar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
} */

.tab-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview {
  /* border: 1px solid navy; */
}

.preview-container {
  border-left: 4px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.preview-content {
  text-align: center;
  /* Ajoutez d'autres styles si nécessaire */
}

.codeblock {
  height: 40vh;
}

.codeblock-container {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 5px;
  right: 2vh;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 20;
}

.copy-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/*  */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* border-radius: 10px; */
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

pre[class*="language-"] {
  margin: 0;
}
